<app-navbar></app-navbar>

<div class="jumbotron text-center">
  <h1 class="display-4">Contact Us</h1>
  <p class="lead">This is contact us page</p>
</div>

<div class="container">
  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quos
      libero distinctio voluptas repellat neque nam quasi exercitationem!
      Exercitationem voluptate tenetur, dolor quae amet possimus ex doloribus
      aspernatur earum molestias vitae distinctio debitis praesentium modi
      eligendi laborum nam obcaecati suscipit quis! Architecto error odit dolor
      cum accusamus, voluptas dignissimos at maiores animi illum, ab dolorum
      adipisci voluptatibus quas inventore est amet obcaecati aliquam deleniti
      eius a magni omnis! Odit dolor deleniti quidem aut at, adipisci
      consequuntur tenetur cum iure tempora velit excepturi obcaecati recusandae
      magni minus in quisquam rem voluptatum, officiis deserunt. Eligendi
      laborum incidunt nemo eum illum asperiores hic!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum,
      praesentium adipisci voluptate blanditiis iure nesciunt aliquam
      voluptatibus et soluta dolores nam quaerat qui modi culpa totam,
      distinctio vel rem. Est, possimus nobis commodi deserunt optio fuga
      excepturi saepe tempore ipsam exercitationem magni modi itaque error,
      eius, facere facilis. Explicabo repellendus, aut suscipit, corrupti vitae
      quod nulla tempore distinctio laboriosam repudiandae magnam quidem
      officiis ullam, nemo laborum. Deserunt magni, quisquam consectetur unde
      quibusdam ratione error laboriosam facilis delectus aperiam neque
      architecto aliquam? Architecto ut sapiente enim nihil aperiam quisquam
      voluptatum sed cupiditate corrupti. Dolor omnis aperiam esse ducimus, fuga
      reiciendis! Impedit.
    </p>
  </section>
</div>
