<div class="container">
  <a routerLink="/">
    <h2>Grocery App</h2>
  </a>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="wrapper">
        <h2>Register</h2>
        <hr />
        <form #registerForm="ngForm" (submit)="onSubmitHanlder()">
          <!-- <h2>{{ registerForm.value | json }}</h2>
          <hr>
          <h2>{{ userData | json }}</h2> -->
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              name="firstName"
              [(ngModel)]="userData.firstName"
              #firstName="ngModel"
              required
              [class.is-invalid]="firstName.invalid && firstName.touched"
            />
            <small
              class="text-danger"
              [class.d-none]="firstName.valid || firstName.untouched"
              >This is required field</small
            >
            <!-- <h2>{{ firstName.untouched }}</h2> -->
          </div>

          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              [(ngModel)]="userData.email"
              required
              #email="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              [class.is-invalid]="email.invalid && email.touched"
            />
            <div *ngIf="email.errors && email.touched">
              <small class="text-danger" *ngIf="email.errors['required']"
                >Email is required</small
              >
              <small class="text-danger" *ngIf="email.errors['pattern']"
                >Email must be valid</small
              >
            </div>
          </div>

          <div class="form-group">
            <label>Mobile</label>
            <input
              type="text"
              #mobile="ngModel"
              [class.is-invalid]="mobile.invalid && mobile.touched"
              class="form-control"
              name="mobile"
              [(ngModel)]="userData.mobile"
              required
              pattern="^\d{10}$"
            />
            <div *ngIf="mobile.errors && mobile.touched">
              <small class="text-danger" *ngIf="mobile.errors['required']"
                >Phone number is required</small
              >
              <small class="text-danger" *ngIf="mobile.errors['pattern']"
                >Phone number must be 10 digit</small
              >
            </div>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              name="password"
              [(ngModel)]="userData.password"
              #password="ngModel"
              required
              minlength="6"
              [class.is-invalid]="password.invalid && password.touched"
            />
            <div *ngIf="password.errors && password.touched">
              <small class="text-danger" *ngIf="password.errors['required']"
                >Password is required</small
              >
              <small class="text-danger" *ngIf="password.errors['minlength']"
                >Password must be 6 character</small
              >
            </div>
          </div>

          <div class="form-group">
            <label for="">City</label>
            <select
              class="form-control"
              [(ngModel)]="userData.city"
              name="city"
            >
              <option *ngFor="let city of cities">{{ city }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="">Gender</label>
            <div class="form-check">
              <input
                type="radio"
                name="gender"
                class="form-check-input"
                value="male"
                [(ngModel)]="userData.gender"
              />
              <label for="" class="form-check-label">Male</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                name="gender"
                class="form-check-input"
                value="female"
                [(ngModel)]="userData.gender"
              />
              <label for="" class="form-check-label">Female</label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                [(ngModel)]="userData.subscribe"
                name="subscribe"
              />
              <label for="" class="form-check-label">Subscribe</label>
            </div>
          </div>

          <input
            type="submit"
            value="Register"
            class="btn btn-primary btn-block"
            [disabled]="registerForm.invalid"
          />
          <br />
          <p class="text-center">
            <a routerLink="/login">Already register? Click here</a>
          </p>
        </form>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
